<!DOCTYPE html>
<html lang="en">
        <head>
          <title>{% block title%}{%endblock%}</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <!--
          <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
          -->
          {% load staticfiles %}
          {% load widget_tweaks %} <!-- for forms feild modification -->
          <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
          <script src="{% static 'home/js/jquery.min.js' %}"></script>
          <script src="{% static 'home/js/bootstrap.min.js' %}"></script>

          {% block head%}{% endblock %}
        </head>

        <body>
             {% block body %}{% endblock %}
        </body>
</html>
