{% extends 'home/base.html' %}


   {% block title %}
     haikent
   {% endblock %}

   {% block head %}
     <script type="text/javascript">

     function updatetime(){
     $.get( "/gettime", function( data ) {
                 $( "#time" ).html(data);
                 t=setTimeout(updatetime,1000);
             });
     }

    updatetime();

     </script>
   {% endblock %}


{% block body %}


<div class="container">
  <div class="row">
   <h1>{{name}}</h1>
   <div class="row">
      <form id="hkform">
       <div class="col-sm-3">
         <input type="file" style="display:none" class="btn btn-info" name="file" id="imageUpload">
         <input type="button" class="btn btn-info" value="uploadImage" id="uploadImage">
       </div>
      </form>
   </div>

 <br/>

  <div class="row">
     <div id="resultImages">   </div>
  </div>

</div>

   <script>

    $("#uploadImage").click(function(){
      alert()
      $("#imageUpload").trigger('click');
    });

    $(":file").change(function(){
      var fd = new FormData(document.querySelector("#hkform"));
      fd.append("CustomField", "This is some extra data");
      $("#resultImages").html("Uploading .....")
      $.ajax({
      url: "/upload/",
      type: "POST",
      data: fd,
      success: function(data){
            $("#resultImages").html(data)
         },
      processData: false,  // tell jQuery not to process the data
      contentType: false   // tell jQuery not to set contentType
      });

    });



       $("#calculate").click(function(){
             expr=$("#expr").val();
             $("#result").val("processing");
             $.post("/calculate/",{expr:expr}).done(function(data){
                $("#result").val(data);

            });

       });
   </script>

{% endblock %}
